* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background-image: url(imagens/pexels-pixabay-531880.jpg);
    background-size: 100%;
    /* background: linear-gradient(217deg, #ee9e5d, rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, #eeb926, rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, #da2c74, rgba(0,0,255,0) 70.71%); */
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
    display: block;
}

input,
select,
button {
    display: flex;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}

button {
    cursor: pointer;
    background-color: #e61c1c;
    color: #fff;
    transition: .5s;
    justify-content: center;
}

button:hover {
    transition: .5s;
    background-color: #a30000;
}

.container {
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 20px 30px;
    background-color: rgba(166, 166, 225, 0.728);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: row;
}

label {
    font-weight: bold;
}

.units {
    margin-left: 1rem;
    width: 4rem;
}

.toLeft {
    display: flex;
    justify-self: left;
}

#calculoTipo {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    justify-content: center;
}

.resultado {
    display: none;
    visibility: hidden;
}

span.resultado {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 1.5;
    background: linear-gradient(#fdecd6, #f5e1ee);
}

#units-res {
    color: #fff;
    background-color: #8f2d2d;
}